vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_webservertype:SR|diskweb
vti_categories:VR|Путешествие Отчет\\ о\\ расходах Бизнес Соревнование Цели\\ и\\ задачи Идеи Разное Ожидание VIP Выполнение Планирование Расписание
vti_defaultlanguage:SR|ru
vti_approvalapproved:SR|Одобрено
vti_approvaldenied:SR|Отклонено
vti_timecreated:TR|24 May 2006 05:16:19 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_defaultcharset:SR|windows-1251
vti_navbuttonuplabel:SR|Вверх
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|5.0.2.6417
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Назад
vti_navbuttonnextlabel:SR|Далее
vti_approvallevels:VR|Одобрено Отклонено На\\ рассмотрении
vti_navbuttonhomelabel:SR|Домой
vti_dependenciesood:IR|0
